# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.db
*.sqlite3
env/
venv/
*.egg-info/
dist/
build/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# React
node_modules/
build/
*.log

# Environment files
.env
